{% extends "catalog.html" %}
{% load catalog_filters %}
{% block content %}
    <h1 class="page-header">Корзина</h1>
    Количество товаров в корзине: {{ cart_item_count }}
    <table class="table" summary="Your Shopping Cart" id="shopping_cart">
        <caption>Ваша корзина</caption>
        <thead>
        <tr>
            <th scope="col">Товар</th>
            {#            <th scope="col">Цена</th>#}
            <th></th>
            <th></th>
            <th scope="col" class="right">Сумма</th>
        </tr>
        </thead>

        <tbody>
        {% if cart_items %}
            {% for item in cart_items %}
                <tr>
                    <td>
                        <a href="{{ item.get_absolute_url }}" class="cart">
                            {{ item.name }}
                        </a>
                    </td>
                    <td class="right">
                        <form method="post" action="." class="cart" name="{{ item.id }}" id="{{ item.id }}"
                              onsubmit="return validateForm({{ item.id }}, {{ item.product.price }} , {{ item.product.price_bulk1 }})">
                            {% csrf_token %}
                            {% if torgpred %}
                                <label form="price">Цена</label>
                                <input type="text" name="price" value="{{ item.price }}" id="price"
                                       size="6" class="price" maxlength="10"/>
                            {% else %}
                                {{ item.price }}
                            {% endif %}
                            <label form="quantity">Количество</label>
                            <input type="text" name="quantity" value="{{ item.quantity }}" id="quantity"
                                   size="2" class="quantity" maxlength="5"/>
                            <input type="hidden" name="item_id" value="{{ item.id }}"/>
                            <input type="submit" name="submit" value="Сохранить"/>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="." class="cart">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}"/>
                            <input type="submit" name="submit" value="Удалить"/>
                        </form>
                    </td>
                    <td class="right">{{ item.total }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" style="height:30px;">
                    Ваша корзина пуста.
                </td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <th class="right" colspan="4">
                Сумма:
            </th>
            <th class="right">
                {{ cart_total }}
            </th>
        </tr>
        {% if cart_items %}
            <tr>
                <th class="right" colspan="6">
                    <a role="button" class="btn btn-primary" href="{% url 'confirm_order' %}">Продолжить</a>
                </th>
            </tr>
        {% endif %}
        </tfoot>
    </table>

    <script>
        function validateForm(id, high, low) {
            console.log(id);
            var x = $('form[name='+id+']').find('input[name=price]').val();
            console.log(x);
            x = parseInt(x);
            console.log(x);
            high = parseInt(high);
            console.log(high);
            low = parseInt(low);
            console.log(low);
            if (x > high || x < low) {
                alert("Цена выходит за пределы установленного диапазона");
                return false;
            }
            else {
                console.log('OK');
            }

        }
    </script>
{% endblock %}