<div id="MainMenu">
    <div class="list-group panel">
        <a href="#catgories" class="list-group-item cat_vertical" data-toggle="collapse"
           data-parent="#MainMenu">Категории <i class="fa fa-caret-down"></i></a>

        <div class="collapse" id="catgories">
            {% for c in main_tree %}
                <a href="#{{ c.1 }}" class="list-group-item c" data-toggle="collapse"
                   data-parent="#catgories">{{ c.0 }} <i class="fa fa-caret-down"></i></a>
                <div class="collapse" id="{{ c.1 }}">
                    {% if c.0 == 'Корпусная мебель' %}
                        {% for c2 in carcass_furniture %}
                            {% if c2.0 == 'Другая мебель' %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% else %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    {% if c2.0 == 'Горки, стенки, гостинные' %}
                                        {% for c3 in carcass_furniture_level2 %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}

                                        <a href="#{{ c.1 }}_{{ c2.1 }}_associated-goods" class="list-group-item c3"
                                           data-toggle="collapse" data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                            Сопутствующие товары <i class="fa fa-caret-down"></i>
                                        </a>
                                        <div class="collapse list-group-submenu list-group-submenu-1"
                                             id="{{ c.1 }}_{{ c2.1 }}_associated-goods">
                                            {% for c4 in associated_goods %}
                                                <a href="{{ c.1 }}/{{ c2.1 }}-associated-goods-{{ c4.1 }}"
                                                   class="list-group-item c4"
                                                   data-parent="#{{ c.1 }}_{{ c2.1 }}_associated-goods">
                                                    {{ c4.0 }}
                                                </a>
                                            {% endfor %}
                                        </div>

                                        <a href="{{ c.1 }}/{{ c2.1 }}_carcass-libraries" class="list-group-item c3"
                                           data-parent="{{ c.1 }}_{{ c2.1 }}">
                                            Библиотеки
                                        </a>
                                    {% elif c2.0 == 'Шкафы' %}
                                        {% for c3 in cases %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% elif c2.0 == 'Кровати' %}
                                        {% for c3 in beds %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        {% for c3 in carcass_furniture_level2 %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                        <a href="#{{ c.1 }}_{{ c2.1 }}_associated-goods" class="list-group-item c3"
                                           data-toggle="collapse" data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                            Сопутствующие товары <i class="fa fa-caret-down"></i>
                                        </a>
                                        <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}_associated-goods">
                                            {% for c4 in associated_goods %}
                                                <a href="{{ c.1 }}/{{ c2.1 }}-associated-goods-{{ c4.1 }}"
                                                   class="list-group-item c4"
                                                   data-parent="#{{ c.1 }}_{{ c2.1 }}_associated-goods">
                                                    {{ c4.0 }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}

                    {% elif c.0 == 'Мягкая мебель' %}
                        {% for c2 in cushioned_furniture %}
                            {% if c2.0 == 'Под заказ' %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% else %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    {% if c2.0 == 'Комплекты' %}
                                        {% for c3 in cushioned_furniture_komplekts %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% elif c2.0 == 'Угловые' %}
                                        {% for c3 in cushioned_furniture_corners %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% elif c2.0 == 'Диваны' %}
                                        {% for c3 in cushioned_furniture_sofas %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">{{ c3.0 }}</a>
                                        {% endfor %}
                                    {% elif c2.0 == 'Кресла' %}
                                        {% for c3 in cushioned_furniture_armchairs %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">{{ c3.0 }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}

                    {% elif c.0 == 'Офисная мебель' %}
                        {% for c2 in office_furniture %}
                            {% if c2.0 == 'Диваны' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    <a href="{{ c.1 }}/{{ c2.1 }}_strait" class="list-group-item c3"
                                       data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        Прямые
                                    </a>
                                    <a href="{{ c.1 }}/{{ c2.1 }}_corner" class="list-group-item c3"
                                       data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        Угловые
                                    </a>
                                </div>
                            {% elif c2.0 == 'Кресла' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    <a href="{{ c.1 }}/{{ c2.1 }}_chief" class="list-group-item c3"
                                       data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        Руководителя
                                    </a>
                                    <a href="{{ c.1 }}/{{ c2.1 }}_personel" class="list-group-item c3"
                                       data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        Персонала
                                    </a>
                                    <a href="{{ c.1 }}/{{ c2.1 }}_managers" class="list-group-item c3"
                                       data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        Менеджеров
                                    </a>
                                </div>
                            {% elif c2.0 == 'Перегородки' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    <a href="{{ c.1 }}/{{ c2.1 }}_reseption" class="list-group-item c3"
                                       data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        Ресепшн
                                    </a>
                                </div>
                            {% else %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% endif %}
                        {% endfor %}

                    {% elif c.0 == 'Камины' %}
                        {% for c2 in fireplaces %}
                            {% if c2.0 == 'Печи' %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% elif c2.0 == 'Аксессуары' %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% else %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    {% if c2.0 == 'Каминные комплекты' %}
                                        {% for c3 in kamin_komplekti %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% elif c2.0 == 'Серии' %}
                                        {% for c3 in serii %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% elif c2.0 == 'Порталы' %}
                                        {% for c3 in portals %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% elif c2.0 == 'Электрокамины' %}
                                        {% for c3 in electrokamins %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% elif c.0 == 'Столы' %}
                        {% for c2 in tables %}
                            <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                               data-parent="#{{ c.1 }}">
                                {{ c2.0 }} <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                {% for c3 in tables_level2 %}
                                    <a href="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}" class="list-group-item c3"
                                       data-toggle="collapse" data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        {{ c3.0 }} <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}">
                                        {% if c3.0 == 'Другие' %}
                                            {% for c4 in tables_others %}
                                                <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}/{{ c4.1 }}"
                                                   class="list-group-item c4"
                                                   data-parent="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}">
                                                    {{ c4.0 }}
                                                </a>
                                            {% endfor %}
                                        {% else %}
                                            {% for c4 in tables_level3 %}
                                                <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}/{{ c4.1 }}"
                                                   class="list-group-item c4"
                                                   data-parent="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}">
                                                    {{ c4.0 }}
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% elif c.0 == 'Стулья' %}
                        {% for c2 in chairs %}
                            {% if c2.0 == 'Разные' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    {% for c3 in chairs_others %}
                                        <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                           data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                            {{ c3.0 }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% elif c.0 == 'Кухонные уголки' %}
                        {% for c2 in kitchen_corners %}
                            {% if c2.0 == 'Уголки от' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% else %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    {% if c2.0 == 'Комплекты' %}
                                        {% for c3 in kitchen_corners_level2 %}
                                            <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }}
                                            </a>
                                        {% endfor %}
                                    {% elif c2.0 == 'Модульно' %}
                                        {% for c3 in kitchen_corners_level2 %}
                                            <a href="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}" class="list-group-item c3"
                                               data-toggle="collapse"
                                               data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                                {{ c3.0 }} <i class="fa fa-caret-down"></i>
                                            </a>
                                            <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}">
                                                {% for c4 in kitchen_corners_level3 %}
                                                    <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}/{{ c4.1 }}"
                                                       class="list-group-item c4"
                                                       data-parent="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}">
                                                        {{ c4.0 }}
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    {% elif c2.0 == 'Кухонные+угловые диваны' %}
                                        <a href="{{ c.1 }}/{{ c2.1 }}_foldable" class="list-group-item c3"
                                           data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                            Раскладные
                                        </a>
                                        <a href="{{ c.1 }}/{{ c2.1 }}_unfoldable" class="list-group-item c3"
                                           data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                            Нераскладные
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% elif c.0 == 'Матрасы' %}
                        {% for c2 in matrasses %}
                            <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                {{ c2.0 }}
                            </a>
                        {% endfor %}
                    {% elif c.0 == 'Садовая мебель' %}
                        {% for c2 in garden_furniture %}
                            {% if c2.0 == 'Ротанг' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">{{ c2.0 }} <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    {% for c3 in rotang %}
                                        <a href="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}" class="list-group-item c3"
                                           data-toggle="collapse"
                                           data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                            {{ c3.0 }} <i class="fa fa-caret-down"></i>
                                        </a>
                                        <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}">
                                            {% for c4 in rotang_level2 %}
                                                <a href="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}_{{ c4.1 }}"
                                                   class="list-group-item c3"
                                                   data-toggle="collapse"
                                                   data-parent="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}">
                                                    {{ c4.0 }} <i class="fa fa-caret-down"></i>
                                                </a>
                                                <div class="collapse list-group-submenu"
                                                     id="{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}_{{ c4.1 }}">
                                                    {% for c5 in rotang_level3 %}
                                                        <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}/{{ c4.1 }}/{{ c5.1 }}"
                                                           class="list-group-item c5"
                                                           data-parent="#{{ c.1 }}_{{ c2.1 }}_{{ c3.1 }}_{{ c4.1 }}">
                                                            {{ c5.0 }}
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% elif c.0 == 'Для баров и ресторанов' %}
                        {% for c2 in bars_restaurants %}
                            {% if c2.0 == 'Стойки' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    <a href="{{ c.1 }}/{{ c2.1 }}-prilavki" class="list-group-item c3"
                                       data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        Прилавки
                                    </a>
                                </div>
                            {% else %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% elif c.0 == 'Интерьер' %}
                        {% for c2 in interier %}
                            {% if c2.0 == 'Вазы' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    {% for c3 in vases %}
                                        <a href="{{ c.1 }}/{{ c2.1 }}/{{ c3.1 }}" class="list-group-item c3"
                                           data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                            {{ c3.0 }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% elif c2.0 == 'Корзины' %}
                                <a href="#{{ c.1 }}_{{ c2.1 }}" class="list-group-item c2" data-toggle="collapse"
                                   data-parent="#{{ c.1 }}">
                                    {{ c2.0 }} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="{{ c.1 }}_{{ c2.1 }}">
                                    <a href="{{ c.1 }}/{{ c2.1 }}-sunduki" class="list-group-item c3"
                                       data-parent="#{{ c.1 }}_{{ c2.1 }}">
                                        Сундуки
                                    </a>
                                </div>
                            {% else %}
                                <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                    {{ c2.0 }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% elif c.0 == 'Сопутствующие товары' %}
                        {% for c2 in associated_goods %}
                            <a href="{{ c.1 }}/{{ c2.1 }}" class="list-group-item c2" data-parent="#{{ c.1 }}">
                                {{ c2.0 }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
