<div id="MainMenu">
    <div class="list-group panel">
        <a href="#catgories" class="list-group-item cat_vertical collapse" data-toggle="collapse"
           data-parent="#MainMenu"><i class="fa fa-bars fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;КАТЕГОРИИ</a>

        <div class="collapse list-group-submenu" id="catgories">
            {% for cat in cats %}
                <a href="{{ cat.link }}" class="list-group-item cat_vertical">{{ cat.title }}</a>
            {% endfor %}
        </div>
    </div>

    <script>
        $('document').ready(function (e) {
            if ($(window).width() < 768) {
                $('div.panel').find('.collapse').collapse({toggle: false});
            } else {
                $('div.panel').find('.collapse').collapse({toggle: true});
            }
        });
    </script>
</div>
