<div class="col-md-3 col-sm-4 col-xs-6 hero-feature">
    <div class="thumbnail">
        <a href="{{ p.get_absolute_url }}">
            {% if p.image %}
                {% if p.module_mebel == 'Шкаф' or p.module_mebel == 'Стул' or p.module_mebel == 'Кресло' %}
                    <img src="{{ p.image.url_180x200 }}" alt="{{ p.name }}" class="bn"/>
                {% else %}
                    <img src="{{ p.image.url_400x200 }}" alt="{{ p.name }}" class="bn"/>
                {% endif %}
            {% else %}
                <img src="http://placehold.it/300x200" alt="{{ p.name }}" class="bn"/>
            {% endif %}
            <div class="caption">
                <br/>
                {{ p.name }}
                <br>
                {{ p.price }} руб.
            </div>
        </a>
        {% if p.sale_price %}
            <div class="sale-ribbon">
                <span class="sale">СКИДКА</span>
            </div>
        {% endif %}
        {% if p.new %}
            <div class="new-ribbon">
                <span class="new">НОВИНКА</span>
            </div>
        {% endif %}
    </div>
</div>