{% extends "catalog.html" %}
{% load catalog_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="page-header">О нас</h1>
            <p>Магазин основан в 2003 году.</p>

            <p> На сегодняшний день покупателям доступно более ___
                наименований товаров. Мягкая мебель – более ___ моделей отличных диванов и кресел ведущих производителей.
                Корпусная
                мебель - более ___ моделей шкафов, стенок, прихожих, гостиных, столов и стульев. А также – кровати, матрасы,
                детские,
                кабинеты, аксессуары и многое другое.</p>

            <p> В нашем магазине самые привлекательные цены.</p>
        </div>
    </div>
{% endblock %}