{% extends "catalog.html" %}
{% load catalog_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="page-header">Контакты</h1>

            <h3><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Номера телефонов:</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="tel:+79604274925">+7(960)427-49-25</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="tel:+79604274925" role="button">Позвонить</a>
                </li>
                <li class="list-group-item">
                    <a href="tel:+79286921043">+7(928)692-10-43</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="tel:+79286921043" role="button">Позвонить</a>
                </li>
                <li class="list-group-item">
                    <a href="tel:+79674286033">+7(967)428-60-33</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="tel:+79674286033" role="button">Позвонить</a>
                </li>
                <li class="list-group-item">
                    <a href="tel:+78663142160">+7(866)314-21-60</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="tel:+78663142160" role="button">Позвонить</a>
                </li>
            </ul>
            <hr>
            <h3><i class="fa fa-at fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Адрес электронной почты:</h3>
            <a href="mailto:mebelfeniks2016@yandex.ru">mebelfeniks2016@yandex.ru</a>
            <hr>
            <h3><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Почтовыый адрес:</h3>
            <ul class="list-group">
                <li class="list-group-item"><p>Россия, Кабардино-Балкарская республика, г. Прохладный, ул. Свободы д. 207</p></li>
                <li class="list-group-item"><p>Индекс: 361045</p></li>
            </ul>

            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=WXWtIgx-PgZz8qrT7gzArHaIIusjzh9m&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false"></script>
            <hr>
        </div>
    </div>
{% endblock %}