<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Спасибо за заказ!</title>
</head>
<body>
<p>Дата заказа: {% now "d.m.Y H:i" %}</p>
<p>ФИО покупателя: {{ last_name  }} {{ first_name }} {{ patronymic }}</p>
<p>Полный адрес: {{ country }}, {{ region }}, {{ city }}, {{ adress }}, {{ index }}</p>
<p>Номер телефона клиента: {{ telephone_1 }}</p>
<p>Электронная почта: {{ email }}</p>
<p>Скайп: {{ skype }}</p>
<p>Вид доставки: {{ delivery }}</p>
<p>Вид оплаты: {{ payment }}</p>
{#{% if email %}#}
{#    <p>Электронная почта: {{ email }}</p>#}
{#{% endif %}#}

<table style="width: 100%;" border="1" cellpadding="5">
    <thead>
    <tr style="background: #dbdbdb">
        <th scope="col" style="text-align: left">Товар</th>
        <th scope="col" style="text-align: right">Цена</th>
        <th scope="col" style="text-align: right">Количество</th>
        <th scope="col" style="text-align: right">Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% if cart_items %}
        {% for item in cart_items %}
            <tr>
                <td style="text-align: left">
                    <a href="{{ domain_url }}{{ item.get_absolute_url }}" class="cart">
                        {{ item.name }}
                    </a>
                </td>
                <td style="text-align: right">{{ item.price }}</td>
                <td style="text-align: right">
                    {{ item.quantity }}
                </td>
                <td style="text-align: right">{{ item.total }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6" style="height:30px;">
                Ваша корзина пуста.
            </td>
        </tr>
    {% endif %}
    </tbody>
    <tfoot>
    <tr>
        <th style="text-align: right" colspan="3">
            Сумма:
        </th>
        <th style="text-align: right">
            {{ cart_total }}
        </th>
    </tr>
    </tfoot>
</table>
</body>
</html>