{% extends "catalog.html" %}
{% load catalog_tags %}
{% block content %}
    <link href='http://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <div class="row text-center">
        <div class="row">
            <h1 class="title_1">Мебельный салон <span class="title_2">Ф Е Н И К С</span></h1>
        </div>
        <div class="frontpage">
            <img class="img-responsive img-rounded" src="/static/images/jumbo.jpg" width="100%">
        </div>
        <div class="subcategories">
            {#        <h4>Подкаталоги</h4>#}
            {% for sub in subcategories %}
                {% if forloop.last %}
                    <a class="btn" href="{{ sub.1 }}">{{ sub.0 }}</a>
                {% else %}
                    <a class="btn" href="{{ sub.1 }}">{{ sub.0 }}</a>&nbsp;&nbsp;
                    <i class="fa fa-asterisk" aria-hidden="true" style="color: white;"></i>
                    &nbsp;&nbsp;
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        {% product_list new_products 'Новинки' %}

        {% product_list recently_viewed 'Недавно Вы смотрели эти товары' %}

        {% product_list view_recs 'Похожие товары' %}

        {% product_list featured 'Особые товары' %}

        {% product_list search_recs 'Рекомендовано Вам' %}
    </div>
{% endblock %}
