{% extends "catalog.html" %}
{% load catalog_filters %}
{% block content %}
    <div class="row">
        <div class="col-md-8 product-image">
            {% if p.image %}
                <p><img src="{{ p.image.url }}" alt="{{ p.name }}" style="width: 100%"/></p>
            {% else %}
                <p><img src="http://placehold.it/500x500" alt="{{ p.name }}" style="width: 100%"/></p>
            {% endif %}
            {% if p.get_related_modules %}
                <h4>С данным комплектом сочетаются следующие товары:</h4>
                {% for module in p.get_related_modules %}
                    <a href="{{ module.get_absolute_url }}"><img src="{{ module.image.url_125x125 }}" alt="{{ module.name }}" style="float: left;" /></a>
                {% endfor %}
            {% endif %}

            {#        {{ p.image_caption }}#}
        </div>

        <div class="col-md-4 product-info">
            <h1 class="product-title">{{ p.name }}</h1>
            <br/><br/>
            {% if p.sale_price %}
                Было:
                <del> {{ p.old_price }} руб.</del>
                <br/>
                Сейчас: {{ p.price }} руб.
            {% else %}
                Цена: {{ p.price }} руб.
            {% endif %}
            <br/>
            <br/>
            {% if p.brand %}
                <p>Бренд: "{{ p.brand }}"</p>
                <br/>
            {% endif %}
            {% if p.country %}
                <p>Страна: {{ p.country }}</p>
                <br/>
            {% endif %}
            {% if p.color %}
                <p>Цвет: {{ p.color }}</p>
                <br/>
            {% endif %}
            <h3>Описание</h3>
            {{ p.description }}
            <hr>
            <div>
                <form method="post" action="." class="cart form-inline">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>
                    <input class="btn btn-warning" type="submit" value="В корзину" name="submit" alt="Add To Cart"/>
                </form>
            </div>
        </div>


    </div>


    <div class="row cb"><br/><br/></div>

    <div class="col-md-12">
        <h3>Отзывы на данный товар</h3>
        {% if request.user.is_authenticated %}
            <a id="add_review">Написать отзыв</a>
            <div id="review_form">
                <form class="form-group">
                    {% csrf_token %}
                    <div id="review_errors"></div>
                    {{ review_form }}
                    <input type="hidden" id="id_slug" value="{{ p.slug }}"/>
                    <input class="btn btn-primary" type="submit" id="submit_review" value="Отправить"/>
                    <input class="btn btn-default" type="submit" id="cancel_review" value="Отменить"/>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}">
                Войдите на сайт, чтобы оставлять отзывы.
            </a>
        {% endif %}
        <div class="cb"><br/><br/></div>
        <div id="reviews">
            {% for review in product_reviews %}
                {% include 'catalog/product_review.html' %}
            {% empty %}
                <div id="no_reviews">
                    Отзывов пока нет. Станьте первыми.
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="cb"><br/><br/></div>
{% endblock %}