{% extends "catalog.html" %}
{% load catalog_filters %}
{% block content %}
    <div class="row">
        <div class="col-md-8 product-image">
            {% if p.image %}
                <a href="#" data-toggle="modal" data-target=".pop-up-1">
                    <img src="{{ p.image.url }}" alt="{{ p.name }}" class="img-responsive" style="margin: 0 auto"/>
                </a>
                <!--  Modal content for the mixer image example -->
                <div class="modal fade pop-up-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myLargeModalLabel-1">{{ p.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{ p.image.url }}" class="img-responsive img-rounded center-block" alt="">
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal mixer image -->
            {% else %}
                <img src="http://placehold.it/500x500" alt="{{ p.name }}" style="width: 100%"/>
            {% endif %}
            {% if p.image2 %}
                <a href="#" data-toggle="modal" data-target=".pop-up-2" class="thumbnail" style="float: left;">
                    <img src="{{ p.image2.url_180x150 }}" alt="{{ p.name }}"/>
                </a>
                <!--  Modal content for the mixer image example -->
                <div class="modal fade pop-up-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myLargeModalLabel-1">{{ p.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{ p.image2.url }}" class="img-responsive img-rounded center-block" alt="">
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal mixer image -->
            {% endif %}
            {% if p.image3 %}
                <a href="#" data-toggle="modal" data-target=".pop-up-3" class="thumbnail" style="float: left;">
                    <img src="{{ p.image3.url_180x150 }}" alt="{{ p.name }}"/>
                </a>
                <!--  Modal content for the mixer image example -->
                <div class="modal fade pop-up-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myLargeModalLabel-1">{{ p.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{ p.image3.url }}" class="img-responsive img-rounded center-block" alt="">
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal mixer image -->
            {% endif %}
            {% if p.image4 %}
                <a href="#" data-toggle="modal" data-target=".pop-up-4" class="thumbnail" style="float: left;">
                    <img src="{{ p.image4.url_180x150 }}" alt="{{ p.name }}"/>
                </a>
                <!--  Modal content for the mixer image example -->
                <div class="modal fade pop-up-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myLargeModalLabel-1">{{ p.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{ p.image4.url }}" class="img-responsive img-rounded center-block" alt="">
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal mixer image -->
            {% endif %}
            {% if p.image5 %}
                <a href="#" data-toggle="modal" data-target=".pop-up-5" class="thumbnail" style="float: left;">
                    <img src="{{ p.image5.url_180x150 }}" alt="{{ p.name }}"/>
                </a>
                <!--  Modal content for the mixer image example -->
                <div class="modal fade pop-up-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myLargeModalLabel-1">{{ p.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{ p.image5.url }}" class="img-responsive img-rounded center-block" alt="">
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal mixer image -->
            {% endif %}
            <hr style="clear:both;">
            {% if p.get_related_modules %}
                <h4>С этим товаром сочетается следующая мебель:</h4>
                {% for module in p.get_related_modules %}
                    <a href="{{ module.get_absolute_url }}" class="thumbnail" style="float: left;"><img
                            src="{{ module.image.url_180x150 }}" alt="{{ module.name }}"
                            /></a>
                {% endfor %}
            {% endif %}
{#            {% if p.peace_of %}#}
{#                <h4>Входит в состав комплекта: </h4>#}
{#                <a href="{{ p.peace_of.get_absolute_url }}" class="thumbnail" style="float: left;"><img#}
{#                        src="{{ p.peace_of.image.url_180x150 }}" alt="{{ p.peace_of.name }}"#}
{#                        /></a>#}
{#            {% endif %}#}
            <hr style="clear:both;">
        </div>

        <div class="col-md-4 product-info">
            <h1 class="product-title">{{ p.name }}</h1>
            <h4>Цена:</h4>
            <h4>{{ p.price }} руб.</h4>
            {% if torgpred or request.user.is_superuser %}
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Цена ТП
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" style="background-color: #2aabd2; color: white">
                        {% if p.price_bulk1 %}
                            <li style="margin-left: 10px;">{{ p.price_bulk1 }} руб.</li>
                            {#                            <li class="divider"></li>#}
                            {#                        {% endif %}#}
                            {#                        {% if p.price_bulk2 %}#}
                            {#                            <li style="margin-left: 10px;">От 10 шт.: {{ p.price_bulk2 }} руб.</li>#}
                            {#                            <li class="divider"></li>#}
                            {#                        {% endif %}#}
                            {#                        {% if p.price_bulk3 %}#}
                            {#                            <li style="margin-left: 10px;">От 20 шт.: {{ p.price_bulk3 }} руб.</li>#}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <br/>
            {% if p.brand %}
                <p>Бренд: "{{ p.brand }}"</p>
                <br/>
            {% endif %}
            {% if p.country %}
                <p>Страна: {{ p.country }}</p>
                <br/>
            {% endif %}
            {% if p.color %}
                <p>Цвет: {{ p.color }}</p>
                <br/>
            {% endif %}
            {% if p.description %}
                <h3>Описание</h3>
                {{ p.description|linebreaksbr }}
                <hr>
            {% endif %}
            {% if p.architecture_type.all|length > 0 %}
                <h3>Конструкция(механизм):</h3>
                {% for arc in p.architecture_type.all %}
                    <h4>{{ arc.name }}</h4>
                    {#                    {% if arc.image %}#}
                    {#                        <img src="{{ arc.image.url }}" width="250"/>#}
                    {#                    {% endif %}#}
                    {% if arc.description %}
                        <p>{{ arc.description|linebreaksbr }}</p>
                    {% endif %}
                    <hr>
                {% endfor %}
            {% endif %}
            {#            {% if p.material %}#}
            {#                <h3>Материалы:</h3>#}
            {#                {% for mater in p.material.all %}#}
            {#                    <p>{{ mater.name }}</p>#}
            {#                    <hr>#}
            {#                {% endfor %}#}
            {#            {% endif %}#}
            <div>
                <form method="post" action="." class="cart form-inline">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>
                    <input class="btn btn-warning" type="submit" value="В корзину" name="submit" alt="Add To Cart"/>
                </form>
            </div>
        </div>

    </div>

    <div class="row cb"><br/><br/></div>

    <div class="col-md-12">
        <div class="social-share">
            <a class="btn btn-default"
               href="http://vkontakte.ru/share.php?url={{ request.build_absolute_uri }}{{ request.get_full_path }}" rel="nofollow"
               target="_blank">Поделиться <i class="fa fa-vk fa-lg"></i></a>
            <a class="btn btn-default"
               href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl={{ request.build_absolute_uri }}"
               rel="nofollow"
               target="_blank">Поделиться <i class="fa fa-odnoklassniki fa-lg"></i></a>
        </div>
        <h3>Отзывы на данный товар</h3>
        {% if request.user.is_authenticated %}
            <a id="add_review">Написать отзыв</a>
            <div id="review_form">
                <form class="form-group">
                    {% csrf_token %}
                    <div id="review_errors"></div>
                    {{ review_form }}
                    <input type="hidden" id="id_slug" value="{{ p.slug }}"/>
                    <input class="btn btn-primary" type="submit" id="submit_review" value="Отправить"/>
                    <input class="btn btn-default" type="submit" id="cancel_review" value="Отменить"/>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}">
                Войдите на сайт, чтобы оставлять отзывы.
            </a>
        {% endif %}
        <div class="cb"><br/><br/></div>
        <div id="reviews">
            {% for review in product_reviews %}
                {% include 'catalog/product_review.html' %}
            {% empty %}
                <div id="no_reviews">
                    Отзывов пока нет. Станьте первыми.
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="cb"><br/><br/></div>
{% endblock %}